<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="googleSearch" verbose="1" >

    <listeners>
        <listener class-name="config.ExtentReportNG"/>
    </listeners>
    <test name="timesheet1" >
        <classes>
            <class name="testcases.GoogleSearchTest"/>
        </classes>
    </test>
</suite>
